*
{
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}
body
{
    background: linear-gradient(45deg, black, transparent);
}
.section1
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: 72px;
    background-color: #474343;
    margin-top: 30px;
    text-decoration: none;
}
ul
{
    padding: 1px;
    display: flex;
    margin: auto;
}
li 
{
    margin: 25px;
    text-decoration: none;
}
a
{
    text-decoration: none;
    color: white;
}
.lien
{
    text-decoration: none;
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}
.titre
{
    font-style: italic;
    text-align: center;
    font-size: 128px;
    margin: 40px 10px 40px 10px;
}

.logo
{
    height: 250px;
    width: 250px;
    border-radius: 70px;
    margin: 5px;
}
.section2
{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.propos
{
    text-align: center;
    width: 300px;
}
p
{
    text-align: center;
}
.section3
{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_projet
{
    height: 250px;
    width: 250px;
}
.section4
{
    color: white;
}
.icon
{
    color: black;
}